* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 10px 0;
}

.editor-info {
  background-color: rgb(33, 112, 204, 0.3);
  padding: 15px;
  border-radius: 5px;
}

.page-section {
  margin-top: 25px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.page-section ul {
  list-style-type: none;
  padding: 0;
}
.page-section li {
  padding-bottom: 10px;
}

a {
  color: #2170cc;
  text-decoration: none;
}

/* The below CSS code is for nav bar and footer*/
.logo {
  height: 70px;
  width: 125px;
  text-align: center;
  padding-left: 100%;
}

nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 50%);
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  list-style-type: none;
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  background-color: rgb(255, 255, 255);
}

nav a:hover {
  color: white;
  background-color: rgb(33, 112, 204, 80%);
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 30%);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
  animation: slideIn 0.5s ease forwards;
}

@media (max-width: 1175px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.footer {
  background-color: white;
  box-shadow: 3px -3px 5px rgb(0, 0, 0, 50%);
  clear: both;
  text-align: right;
  padding-right: 70px;
}

.footer a {
  color: black;
  text-decoration: none;
}
